.night-hotel {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px;
  border: none;
  font: normal 60px/1 "Monoton", Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px rgb(255, 17, 119), 0 0 70px rgb(255, 17, 119), 0 0 80px rgb(255, 17, 119), 0 0 100px rgb(255, 17, 119), 0 0 150px rgb(255, 17, 119);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
.night-hotel:hover {
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 20px rgb(255, 17, 119), 0 0 35px rgb(255, 17, 119), 0 0 40px rgb(255, 17, 119), 0 0 50px rgb(255, 17, 119), 0 0 75px rgb(255, 17, 119);
}
body {
  background-color: #000;
  color: #000;
}
#searchTxt {
  color: #000000;
}
button {
  color: #000000;
}
a, a:visited {
  color: #fff;
}
.slider.slider-horizontal .slider-handle.triangle {
    border-bottom-color: rgb(255, 17, 119);
}
.slider-track {
    background-color: #DBF20F;
    background-image: linear-gradient(to bottom, #DBF20F, #DBF20F);
}
.slider-selection {
    /* background-color: #0FF2E7; */
    background-image: linear-gradient(to bottom, #0FF2E7, #0FF2E7);
/*change font for "search" "100%" "search youtube" to Righteous google font*/
}

#volume-slider-state {
    margin: 2% 0;
    color: #fff;
    font-size: 20px;
}
/*
make player on right's background yellow and  and player on left's turquiose*/
/*
<div class="slider slider-horizontal" style="width: 60%;">*/

.btn {
  margin: 2% 0;
  padding: 10px 22px;
}
#searchBtn {
  color: #fff;
}

.btn-danger {
  color: #fff;
  background-color: rgba(255, 17, 119, .8);  /*MAKE THIS CHANGE AND IGNORE CROSS OUT HERE*/
  /* border-color: #d43f3a;  REMOVE THIS ALL TOGETHER marg */
  margin-right: 2%
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: rgb(255, 17, 119); /*MAKE THIS CHANGE*/
  /* border-color: #ac2925; REMOVE THIS ALL TOGETHER */
}

/*In results, change deck a to background color turquiose and change background color of btn for deck b to yellow*/

.form-control {
  right: 40px;
}
